<article class="fish card">
  <div class="title card-header">
    <a href="/lakes/{{id}}">{{name}}</a>
  </div>
  <ul class="meta list-group list-group-flush">
    <li class="list-group-item">{{common_name}}</li></a>
    <li class="list-group-item">{{description}}</li>
    <li class="list-group-item">{{wiki_link}}</li>
  </ul>
  {{#if Fish_in_lake}}
  <div class="card-header title">Fish Available in lake</div>
      {{#each Fish_in_lake}}
      <a href="/fish/{{fish_available.fish_id}}"><li class="list-group-item">{{common_name}}</li></a>
      {{/each}}

  {{/if}}
</article>