<article class="lake card">
  <div class="title card-header">
    <a href="/lakes/{{id}}">{{name}}</a>
  </div>
  <ul class="meta list-group list-group-flush">
    <a href="https://www.google.com/maps/?q={{latitude}},{{longitude}}" target="_blank"><li class="list-group-item">{{city}}</li></a>
    <li class="list-group-item">{{longitude}}</li>
    <li class="list-group-item">{{latitude}}</li>
    <li class="list-group-item">{{fish_db.common_name}}</li>

</article>